
.home-wrapper{
  height: 100vh;
  /*background-color: #002244;*/
}


.home-wrapper{
/*background: rgb(44, 197, 199);*/
background: rgb(149, 91, 204);
/*background: linear-gradient(0deg, rgba(44, 197, 199, 1) 41%, rgba(56, 37, 182, 1) 100%);*/
background: linear-gradient(0deg, rgb(149, 91, 204) 41%, rgb(68, 27, 98) 100%);
}



.custom-shape-divider-bottom-1690823229 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1690823229 svg {
  position: relative;
  display: block;
  width: calc(126% + 1.3px);
  height: 144px;
}

.custom-shape-divider-bottom-1690823229 .shape-fill {
  fill: #FFFFFF;
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  position: absolute;
  top:  40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in, ;
}

.image-container.loaded {
  
  opacity: 1; 
}

.circular-image {
  width: 250px; 
  height: 250px; 
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 2px 2px 0 0 white;
}

.text-box {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  background-color: transparent; 
  font-size: 1.2 rem;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}



.text-box .dynamic-txt{
  margin-left: 15xp;
  height: 40px;
  line-height: 40px;
  padding-top: 5px;
  overflow: hidden;
}

 .dynamic-txt li{
  color: #ffffff;
  list-style: none;
  font-size: 1.7rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 4s steps(2) infinite;
 }

 @keyframes slide{
   100%{
    top: -80px;
   }
 }

 .dynamic-txt li span{
   position: relative;
 }

 .dynamic-txt li span::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(149, 91, 204);
  
  border-left: 2px solid #ffffff;
  animation: typing 2s steps(12) infinite;
  
 }

 @keyframes typing{
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;

  }
 }

  .socials{
    position: absolute;
    top:68%;
    left: 46%;
  }
  .socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: .1rem solid white;
    border-radius: 50%;
    font-size: 1rem;
    color: white;
    margin: 2rem 1rem 2rem 0;
  }

  

  

@media screen  and (max-width: 1040px){
  .image-container{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
  }

  .socials{
    left: 43%;
    top: 68%;
  }

  .text-box{
    top: 60%;
  }
}

@media screen and (min-width: 300px) and (max-width: 650px) {

  .dynamic-txt li {
  font-size: 1.1rem;
  padding: 2px;
  }

    .text-box .dynamic-txt {
      margin-left: 10xp;
      height: 31px;
      line-height: 30px;
      padding-top: 5px;
      overflow: hidden;
    }
         .home-wrapper{
          height:97vh;
          width: 100%;
         }
        
      }
